:root {
     // color
     --color__black: #000;
     --color__white:#fff;
     --color__blue:#42A5F5;
     --color__red: #FF0000;
     --color__darkblue: #0000ff;
     --color__liteblue: #c5d7e6;
     
     // font 
     --base__fontSize: 14px;
     --base__lineHeight: 24px;
     
     // space 
     --base__S-space: 16px;
     --base__M-space: 20px;
     --base__L-space: 24px;
}